<body class="review-orders">
    <h1>Customers</h1>
    <h2>{{message}}</h2>
    <table class="ordersView-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.firstName}} {{this.lastName}}</td>
            <td>{{this.username}}</td>
            <td class="customer-links">
                <a href="/admin/review-orders/{{this.id}}?name={{this.firstName}}">Review Orders</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</body>