<body>
    <h1>Finalize Your Order</h1>
    <form id="orderForm" action="/submitOrder" method="POST">
        {{#each items}}
            {{#if quantity}}
                <div class="item">
                    <input type="hidden" name="productId" value="{{this.id}}">
                    <img src="{{this.image}}" alt="{{this.name}}" class="product-image">
                    <h2>{{name}}</h2>
                    <p>{{description}}</p>
                    <p>Price: ${{price}}</p>
                    <label for="quantity{{@index}}">Finalize Quantity:</label>
                    <input type="number" id="quantity{{@index}}" name="quantity{{@index}}" value="{{quantity}}" min="0">
                </div>
            {{/if}}
        {{/each}}
        <button type="submit">Submit Order</button>
    </form>
</body>