<body class="review-orders">
    <h1>{{name}}'s Orders</h1>
    <h2>{{message}}</h2>
    {{#each orderDetails}}
        <div class="order-block">
            <h2>Order Date: {{this.date}}</h3>
            <h3>Order ID: {{this.orderID}}</h2>
            <div class="link-container">
                <a href="/admin/update-order/{{this.orderID}}" 
                class="update-link">Update Order</a>
                <a href="/admin/delete-order/{{this.orderID}}"
                class="delete-link">Delete Order</a>
            </div>           
            <table class="ordersView-table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.products}}
                        <tr>    
                            <td>{{this.name}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.price}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/each}}
</body>